@using ItProject.Models.ArticleModels
@model ArticleModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Article);
}

<h2>@Model.Name</h2>

<form action="../UpdateArticle" method="post">
    <div class="form-group">
        <h3>
            Name:
        </h3>
        <input name="Name" type="text" value="@Model.Name" />
        <input type="hidden" name="Id" value="@Model.Id">
    </div>
    <div class="form-group">
        <h3>
            Description:
        </h3>
        <textarea name="Description" cols="70" rows="10">@Model.Description</textarea>
    </div>
    <div class="form-group">
        <h3>
            Theme:
        </h3>
        <input name="Theme" type="text" value="@Model.Theme">
    </div>
    <input type="submit" value="Update">
</form>