@using ItProject.Models.ArticleModels
@using ItProject.Data
@{
    Layout = null;
}
@model ArticleModel


<div class="col">
    <div class="row">
        <form action="../Article/CreateComment" method="post">
            <textarea name="Body" cols="70" rows="5"></textarea>
            <input name="ArticleId" type="hidden" value="@Model.Id" />
            <input type="submit" value="Coment" />
        </form>
    </div>
    @if (Model.Comments.Count > 0)
    {
        <div class="row">
            <div class="col">
                @foreach (var comment in Model.Comments)
                {
                    <div class="row">@comment.Date</div>
                    <div class="row">@comment.Body</div>
                    <div class="row">@comment.ApplicationUser.UserName</div>
                    <div class="row">
                        <div class="col">@comment.CommentLikeUser.Count</div>
                        <div class="col">
                            <a asp-controller="Article" asp-action="AddLike" asp-route-commentId="@comment.Id">Like</a>
                        </div>
                    </div>

                }
            </div>

        </div>
    }
</div>
