@using ItProject.Models.ArticleViewModels
@{
    Layout = null;
    int i = 1;
}
@model StepViewModel
<div class="list-group">
  
@if (Model.Step != null)
{
    @foreach (var step in Model.ListOfStep)
    {
        if (step.Id != Model.Step.Id)
        {
            <a asp-controller="Step" asp-action="ShowStep" asp-route-id="@step.Id" class="list-group-item list-group-item-action">@(i++). @step.Name</a>
        }
        else
        {
            <a asp-controller="Step" asp-action="ShowStep" asp-route-id="@step.Id" class="list-group-item list-group-item-action active">@(i++). @step.Name</a>
        }
    }
}
</div> 