@using ItProject.Models.ArticleModels
@using ItProject.Models.ArticleViewModels
@model ArticleModel
@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var steps = new StepViewModel();
    if (Model.Steps.Count > 0)
    {
        steps.Step = Model.Steps[0];
    }
}

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<div class="row">
    <div class="col-sm-2">
        @Html.Partial("_StepList", (steps))
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col">
                <h3>@Model.Name</h3>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
            <div class="col">
                @Html.Partial("_Rating", Model)
            </div>
            }
        </div>
        <div class="row">
            <div class="col">
                @Model.Description
            </div>
        </div>
@if (User.Identity.IsAuthenticated)
{
        <H2>Comments</H2>
        @Html.Partial("_CommentList", Model)
}
    </div>
</div>


