@using ItProject.Models.ArticleViewModels
@using ItProject.Models.ArticleModels
@{
    ViewData["Title"] = "Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StepViewModel

<div class="row">
    <div class="col-sm-2">
        @Html.Partial("../Article/_StepList", Model)
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h2>@Model.Step.Name</h2>
           @Html.Raw(CommonMark.CommonMarkConverter.Convert(Model.Step.Body))
            <div class="col">
                @if (Model.ListOfStep.IndexOf(Model.Step) != 0)
                {
                    <a asp-controller="Step" asp-action="ShowStep" asp-route-id="@(((Model.ListOfStep.ToArray())[Model.ListOfStep.IndexOf(Model.Step)-1]).Id)" class="btn btn-primary">Previous</a>
                }
            </div>
            <div class="col">
                @if (Model.ListOfStep.IndexOf(Model.Step) < Model.ListOfStep.Count-1)
                {
                    <a asp-controller="Step" asp-action="ShowStep" asp-route-id="@(((Model.ListOfStep.ToArray())[Model.ListOfStep.IndexOf(Model.Step)+1]).Id)" class="btn btn-primary">Next</a>
                }
            </div>
        </div>
            <H2>Comments</H2>
            @Html.Partial("../Article/_CommentList", Model.ListOfComment)
        </div>
</div>